@page "{id:int}"
@model Portafolio.Pages.UsersPages.EditModel
@using Portafolio.Models

<div class="container">

    <h1>Editar Usuario</h1>

    <img src="@Model.EditUser.AvatarUrl" width="120" class="rounded-circle mb-3" />

    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>Avatar</label>
            <input asp-for="AvatarUpload" type="file" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EditUser.Name">Nombre</label>
            <input asp-for="EditUser.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EditUser.CompanyName">Empresa</label>
            <input asp-for="EditUser.CompanyName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EditUser.PhoneNumber">Telefono</label>
            <input asp-for="EditUser.PhoneNumber" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EditUser.Email">Correo</label>
            <input asp-for="EditUser.Email" class="form-control" />
        </div>
        
        <div class="form-group">
            <label asp-for="EditUser.ContactPreference">Preferencia de Contacto</label>
            <select asp-for="EditUser.ContactPreference"
                    asp-items="Html.GetEnumSelectList<ContactPreferences>()"
                    class="form-control">
            </select>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="form-group">
                <label asp-for="EditUser.Role">Rol</label>

                <select asp-for="EditUser.Role"
                        asp-items="Html.GetEnumSelectList<Roles>()"
                        class="form-control">
                </select>
            </div>
        }

        <button type="submit" class="btn btn-primary"> Guardar Cambios </button>
    </form>
</div>