@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Politica de Privacidad</p>

<a href="https://www.privacypolicies.com/live/23d9a142-db2c-4706-87a0-92abbfd49adc">Politica Completa</a>
